

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.ceu {
    width: 100%;
    height: 100%;
    background-color: #87CEEB;
    position: relative;
    overflow: hidden;
}

.nuvem {
    width: 200px;
    height: 100px;
    background-color: #fff; 
    border-radius: 150px 150px 150px 150px / 120px 120px 100px 100px;
    position: absolute;
    /* animation: moverNuvem 10s linear infinite; */
}

.campo-pergunta {
    width: 100%; 
    max-width: 600px; 
    height: 30px; 
    font-size: 13px; 
    text-align: start; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: rgb(97, 97, 97);
}

@keyframes moverNuvem2 {
    /* 0% {
        left: 110%; Começar fora da tela à direita */
    /* } */
    100% {
        left: -200px; /* Terminar fora da tela à esquerda */
    }
}

@keyframes moverNuvem3 {
    0% {
        left: -200px; /* Começar fora da tela à esquerda */
    }
    100% {
        left: 100%; /* Terminar fora da tela à direita */
    }
}

@keyframes moverNuvem4 {
    100% {
        left: -300px; /* Começar fora da tela à direita */
    }
    /* 0% { 
        left: -200px; Terminar fora da tela à esquerda
    } */
}

@keyframes moverNuvem5 {
    /* 0% {
        left: -200px; Começar fora da tela à esquerda */
    /* } */
    100% {
        left: 100%; /* Terminar fora da tela à direita */
    }
}

@keyframes moverNuvem6 {
    0% {
        left: -110%; /* Começar fora da tela à direita */
    }
    100% {
        left: 1400px; /* Terminar fora da tela à esquerda */
    }
}

@keyframes moverNuvem7 {
    /* 0% {
        left: -200px; Começar fora da tela à esquerda */
    /* } */
    100% {
        left: 100%; /* Terminar fora da tela à direita */
    }
}

@keyframes moverNuvem8 {
    /* 0% {
        left: 110%; Começar fora da tela à direita */
    /* } */
    100% {
        left: -200px; /* Terminar fora da tela à esquerda */
    }
}

@keyframes moverNuvem9 {
    100% {
        left: 200%; /* Início na posição inicial */
    }
    15% {
        left: -100%;
    }
    /* 50% {
        left: 100%;
    } */
}

.nuvem::before,
.nuvem::after {
    content: '';
    position: absolute;
    background-color: #fff; /* Branco */
}

.nuvem::before {
    width: 120px;
    height: 80px;
    border-radius: 100px 100px 100px 100px / 80px 80px 60px 60px;
    top: -20px;
    left: 60px;
}

.nuvem::after {
    width: 140px;
    height: 90px;
    border-radius: 100px 100px 100px 100px / 70px 70px 50px 50px;
    top: 10px;
    left: 30px;
}

.nuvem:nth-child(2) {
    top: 15%;
    left: 90%;
    animation: moverNuvem2 40s linear infinite; /* Aplicar animação específica para esta nuvem */
}

.nuvem:nth-child(3) {
    top: 77%;
    left: 10%;
    animation: moverNuvem3 35s linear infinite;
}

.nuvem:nth-child(4) {
    top: 65%;
    left: 87%;
    animation: moverNuvem4 25s linear infinite;
}

.nuvem:nth-child(5) {
    top: 20%;
    left: 35%;
    /* animation: moverNuvem5 24s linear infinite; Aplicar animação específica para esta nuvem */
    /* >>> devemos analisar a sua posição para poder move-la */
}

.nuvem:nth-child(6) {
    top: 45%;
    left: -8%;
    animation: moverNuvem6 40s linear infinite;
}

.nuvem:nth-child(7) {
    top: 95%;
    left: 50%;
    /* animation: moverNuvem7 22s linear infinite;*/
    /* >>> devemos analisar a sua posição para poder move-la */
}

.nuvem:nth-child(8) {
    top: -3%;
    left: 63%;
    /* animation: moverNuvem8 18s linear infinite;*/
    /* >>> devemos analisar a sua posição para poder move-la */
}

.nuvem:nth-child(9) {
    top: 4%;
    left: 0%;
    /* animation: moverNuvem9 1s linear infinite; */
    /* >>> precisa de correção na função de mover */
}


.botao-avancar {
    position: relative;
    display: inline-block; /* inline-block para ocupar apenas o espaço necessário */
    background: none; /* Removido o fundo para o botão ficar transparente */
    border: none; /* Removido a borda para o botão não ter bordas */
    padding: 0; /* Removido o preenchimento para o botão não ter preenchimento extra */
    cursor: pointer; /* Cursor alterado para indicar que é clicável */
    left: 71%;
    top: 48%;
}

.botao-avancar img {
    width: 3%;
    height: auto;
    display: block; /* Tornando a imagem um bloco para centralizá-la */
    margin: 5px;
}

